<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>flash form</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae autem dolorem voluptas totam optio consequatur maiores debitis. Et, illo neque?</p>
    <form action="/form" method="post">
        <input type="text" name ="name" placeholder="name">
        <input type="submit" value="send">
</body>
</html>